<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SMS Service API</title>
	<link rel="icon" type="image/x-icon" href="images/sms-icon-5460-16x16.ico">
	<link rel="shortcut icon" type="image/x-icon" href="images/sms-icon-5460-16x16.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
	<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
</head>

<body>
	<h1>SMS Service API</h1>
	<h2>Authentication 🚀</h2>
	<div class="main">
		<center>
			<div class="signin-form profile" style="width: 25em">
				<h3>Forget Password</h3>
				<div class="login-form">
					<form action="/forgets" method="post">
						<input type="text" id="email" name="email" placeholder="E-mail" required="">
						<input type="password" id="password" name="password" placeholder="Password" required="">
						<input type="password" id="passwordConf" name="passwordConf" placeholder="Confirm Password" required="">
						<input type="submit" value="RESET NOW">
					</form>
				</div>
			</div>
			<div class="clear"></div>
		</center>
	</div>
	<div class="copyright">
		<p>Copyright &copy; 2017 | Developed by <a href="https://web.facebook.com/JIch01beer" target="_blank" style="color:orange">
				 Jirayu Chinnawong </a>
			<br>Information Technology | Faculty of Technology and Environment | Prince of Songkla University, Phuket Campus
		</p>
	</div>
</body>

</html>